
*.config
.vs/GitHub-Pages-Blazor-wasm/config/debuggerConfiguration-165bc397-9aee-420e-8769-e42a52fd8b22.json
.vs/GitHub-Pages-Blazor-wasm/config/debuggerConfiguration-60a8ad9a-3bdd-460f-9390-af72f056dd60.json
.vs/GitHub-Pages-Blazor-wasm/DesignTimeBuild/.dtbcache.v2
.vs/GitHub-Pages-Blazor-wasm/v16/.suo
